<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
</head>
<body>
  
  <div class="flex-container">
    <div class="divHeader">
      <img src="http://raw.githubusercontent.com/alelase/cars/master/micofocuslogo.png" width="100" class="imgHeader" />
      <span class="spanHeader">Custom Cars Garage</span>
    </div>
    <div>
      <app-managecars></app-managecars>
    </div>
    <div class="divFooter">
      <img src="https://raw.githubusercontent.com/alelase/cars/master/carbackground.jpg" class="imgFooter"/>
      <div class="divCustomCarsGarage">
        <span class="spanFooter">Custom Cars Garage</span>
      </div>
    </div>
  </div>

</body>
</html>
