label {
  font-size: 21px;
}

input {
  font-size: 21px;
  width: 250px;
  
}
.platenum {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #b0b0b0;
}

input[type=submit] {
  width: 290px;
  height:35px;
  color: darkblue;
  border-color: darkblue;
  background-color:white;
  line-height:21px;
}
select {
  font-size: 21px;
  width:250px;
  border-top:0px;
  border-right:0px;
  border-left:0px;
  outline:none;
}
.requiredErr{
    color:red;
    font-size:24px;
}

